<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
    <string>mac-auto-update</string>
    <!--フルパスで指定-->
    <key>ProgramArguments</key>
    <array>
      <string>/Users/murakami.katsutoshi/workspace/dotfile/util/mac_info/auto_update.sh</string>
    </array>
    <!-- launchctl loadしたタイミングで実行するか -->
    <key>RunAtLoad</key>
      <true/>
  <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
        <integer>00</integer>
          <key>Hour</key>
        <integer>6</integer>
          <key>Weekday</key>
        <integer>1234567</integer>
    </dict>
</dict>
</plist>
